<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylewelcome.css}"/>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
  <style>

  </style>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" >EMS</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/}"> <i class="fa fa-home"></i> Home</a></li>
            <li><a th:href="@{/employees}">Employees</a></li>
            <li><a th:href="@{/projects}">Projects</a></li>
            <li><a th:href="@{/tasks}">Tasks</a></li>
            <li sec:authorize="hasRole('ROLE_manager')"><a th:href="@{/operations}">Operations</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a><span class="glyphicon glyphicon-user" sec:authentication="name"></span></a></li>
        </ul>
    </nav>

    <div class="home">
        <h2>Welcome to Employee Management System</h2>
    </div>
</header>


</body>
</html>
