<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Employee Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <style>
        .disabled{
            display:none !important;
        }

        .row .cell:nth-child(1) {
            width: 156px;
            padding-left: 40px;
        }

        .row .cell:nth-child(2) {
            width: 133px;
        }

        .row .cell:nth-child(3) {
            width: 210px;
        }

        .row .cell:nth-child(4) {
            width: 190px;
        }

        .thead:hover{
            background-color: #6c7ae0;
        }
        .logout{
            margin-right:15px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav navbar-left">
        <button type="reset" class="btn btn-info pull-left" onclick="goBack()"><span class="glyphicon glyphicon-chevron-left "></span></button>
    </ul>
    <div class="navbar-header">
        <a class="navbar-brand">EMS</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a th:href="@{/welcome}"> <i class="fa fa-home"></i> Home</a></li>
        <li><a th:href="@{/employees}">Employees</a></li>
        <li><a th:href="@{/projects}">Projects</a></li>
        <li><a th:href="@{/tasks}">Tasks</a></li>
        <li sec:authorize="hasRole('ROLE_manager')"><a th:href="@{/create-operation}">Operations</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li sec:authorize="hasRole('ROLE_manager')"><a th:href="@{/create-task}">Create</a></li>
        <li><a><span class="glyphicon glyphicon-user" sec:authentication="name"></span></a></li>
        <li><form class="logout" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form></li>
    </ul>

</nav>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table">

                <div class="row header thead">
                    <div class="cell">
                        ID
                    </div>
                    <div class="cell">
                        Name
                    </div>
                    <div class="cell">
                        Description
                    </div>
                    <div class="cell">
                        Start Date
                    </div>
                    <div class="cell">
                        End Date
                    </div>
                    <div class="cell">
                        Status
                    </div>
                </div>

                <div class="row" th:each="task:${tasks}">
                    <div class="cell" data-title="id">
                        <span th:text="${task.id}"></span>
                    </div>
                    <div class="cell" data-title="name">
                        <span th:text="${task.name}"></span>
                    </div>
                    <div class="cell" data-title="description">
                        <span th:text="${task.description}"></span>
                    </div>
                    <div class="cell" data-title="start date">
                        <span th:text="${task.startDate}"></span>
                    </div>
                    <div class="cell" data-title="end Date">
                        <span th:text="${task.endDate}"></span>
                    </div>
                    <div class="cell" data-title="status">
                        <span th:text="${task.status}"></span>
                    </div>
                </div>
            </div>
            <nav aria-label="Pagination" th:if="${tasksPage.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-medium">
                    <li class="page-item" th:classappend="${tasksPage.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/tasks?page={id}(id=${tasksPage.number lt 2 ? 1 : tasksPage.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
<!--                    <li class="page-item" th:classappend="${i eq tasksPage.number + 1} ? 'active'"-->
<!--                        th:each="i : ${#numbers.sequence( tasksPage.number + 1, tasksPage.totalPages > 10 + tasksPage.number ? tasksPage.number + 10 : tasksPage.totalPages, 1)}">-->
<!--                        <a class="page-link" th:href="@{/tasks?page={id}(id=${i})}" th:text="${i}"-->
<!--                           th:title="${'Page '+ i}"-->
<!--                           rel="tooltip"></a>-->
<!--                    </li>-->
                    <li class="page-item" th:classappend="${i eq tasksPage.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, tasksPage.totalPages , 1)}">
                        <a class="page-link" th:href="@{/tasks?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}"
                           rel="tooltip"></a>
                    </li>
                    <li class="page-item disabled" th:if="${tasksPage.number + 10 < tasksPage.totalPages}">
                        <a class="page-link svg-icon" href="#">
                            <span aria-hidden="true">&hellip;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${tasksPage.number + 1 eq tasksPage.totalPages} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/tasks?page={id}(id=${tasksPage.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>

</body>
</html>
