<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--</head>-->
<!--<body style="font-size:16px;">-->
<!--<div class="container">-->
<!--    <div class="jumbotron" style="background-color:#00F3FF" align="center">-->
<!--        <h1>Student Management System</h1>-->
<!--    </div>-->
<!--<form method="post" th:object = "${student}" th:action="@{/save}">-->
<!--    <div class="row" >-->
<!--        <div class="col-lg-4 col-md-8">-->
<!--            <div class="element-group">-->
<!--                <div class="row">-->
<!--                    <div class="col" align="left">-->
<!--                        <label for="id">ID:</label>-->
<!--                    </div>-->
<!--                    <div class="col" align="right">-->
<!--                        <input type="text" class="form-control" id="id" name="id" th:value="${student.id}">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div><br></div>-->
<!--                <div class="row">-->
<!--                    <div class="col" align="left">-->
<!--                        <label for="name">Name:</label>-->
<!--                    </div>-->
<!--                    <div class="col" align="right">-->
<!--                        <input type="text" class="form-control" id="name" name="name" th:value="${student.name}">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div><br></div>-->
<!--                <div class="row">-->
<!--                    <div class="col" align="left">-->
<!--                        <button data-toggle="collapse" data-target="#demo" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus-sign"></span></button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div><br></div>-->

<!--                <div id="demo" class="collapse">-->
<!--                    <div class="object-group">-->
<!--                        <div class="row" >-->
<!--                            <div class="col" align="left">-->
<!--                                <label for="city">City:</label>-->
<!--                            </div>-->
<!--                            <div class="col" align="right">-->
<!--                                <input type="text" class="form-control" id="city" name="city" th:value="${student.city}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div><br></div>-->
<!--                        <div class="row">-->
<!--                            <div class="col" align="left">-->
<!--                                <label for="telephone">Telephone No:</label>-->
<!--                            </div>-->
<!--                            <div class="col" align="right">-->
<!--                                <input type="text" class="form-control" id="telephone" name="telephone" th:value="${student.telephone}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div><br></div>-->
<!--                        <div class="row">-->
<!--                            <div class="col" align="left">-->
<!--                                <label for="project">Project:</label>-->
<!--                            </div>-->
<!--                            <div class="col" align="right">-->
<!--                                <input type="text" class="form-control" id="project" name="project" th:value="${student.project}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div><br></div>-->
<!--                        <div><br></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row" align="center">-->
<!--                    <div class="col" align="right">-->
<!--                        <button type="submit" class="btn btn-success">Submit</button>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->
<!--</div>-->

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->

<!doctype html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .nav-buttons{
            width:19% ;
        }
        .container-fluid{
            background-color: rgb(15, 141, 141);
        }
        .text-center h1{
            font-size: 4.5rem;
        }
        .text-center h2{
            line-height: 3;
        float:right;
        }
        .header{
            background-color: rgb(15, 141, 141);
            padding: 10px;
            position: relative;
        }
        #user{
            position: relative;
            display: inline;
            top: -60px;
            left: 80%;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="col-md-8">
        <div class="text-center header">
            <h1>
                Student Management System
            </h1>
        </div>
    </div>
        <div class="col-md-4">
            <div class="text-center header" sec:authorize="isAuthenticated()">
                <h2 welcome  sec:authentication="name">

                </h2>
            </div>

        </div>

    </div>



    <div class="text-center nav-buttons-container">
        <button type="button" onclick="location.href='http://localhost:8090/'" class="btn btn-success btn-lg nav-buttons">Home</button>
        <button type="button" onclick="location.href='http://localhost:8090/create'" class="btn btn-success btn-lg nav-buttons">Create</button>
        <button type="button" onclick="location.href='http://localhost:8090/update'" class="btn btn-success btn-lg nav-buttons">Update</button>
        <button type="button" onclick="location.href='http://localhost:8090/fetchone'" class="btn btn-success btn-lg nav-buttons">Fetch One</button>
        <button type="button" onclick="location.href='http://localhost:8090/fetchall'" class="btn btn-success btn-lg nav-buttons">Fetch All</button>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>